# Google Apps Script Web App URL for Google Drive Uploads
APPS_SCRIPT_URL="https://script.google.com/macros/s/AKfycbzBMxJE9Yb2k0cRYXBhtnvypZY2XlOR2BZri7pVEFtT4uo6MD4ObBVxKJGRl85w-b8-/exec"

# Firebase Config (Mặc dù đã hardcode trong source, nhưng nếu bạn muốn chuyển ra biến môi trường sau này thì có thể dùng)
VITE_FIREBASE_API_KEY="AIzaSyB-EdC11NCLMQz4trHNTFZmDfzphRixk40"
VITE_FIREBASE_AUTH_DOMAIN="chat-91286.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="chat-91286"
VITE_FIREBASE_STORAGE_BUCKET="chat-91286.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="452961352199"
VITE_FIREBASE_APP_ID="1:452961352199:web:8c50f4ffd159a92b3888a2"
